<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.dbmsnew.TbsysExchangeSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.dbmsnew.TbsysExchangeScheme" >
    <id column="EXCID" property="excid" jdbcType="DECIMAL" />
    <result column="SOLUTIONID" property="solutionid" jdbcType="VARCHAR" />
    <result column="ORGID" property="orgid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PEXCID" property="pexcid" jdbcType="DECIMAL" />
    <result column="DELFLAG" property="delflag" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OPID" property="opid" jdbcType="VARCHAR" />
    <result column="OPTIME" property="optime" jdbcType="DATE" />
    <result column="TEXT1" property="text1" jdbcType="VARCHAR" />
    <result column="TEXT2" property="text2" jdbcType="VARCHAR" />
    <result column="TEXT3" property="text3" jdbcType="VARCHAR" />
    <result column="TEXT4" property="text4" jdbcType="VARCHAR" />
    <result column="INT1" property="int1" jdbcType="DECIMAL" />
    <result column="INT2" property="int2" jdbcType="DECIMAL" />
    <result column="INT3" property="int3" jdbcType="DECIMAL" />
    <result column="INT4" property="int4" jdbcType="DECIMAL" />
    <result column="ORDERBY" property="orderby" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    EXCID, SOLUTIONID, ORGID, NAME, PEXCID, DELFLAG, REMARK, OPID, OPTIME, TEXT1, TEXT2, 
    TEXT3, TEXT4, INT1, INT2, INT3, INT4, ORDERBY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TBSYS_EXCHANGESCHEME
    where EXCID = #{excid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TBSYS_EXCHANGESCHEME
    where EXCID = #{excid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sinog2c.model.dbmsnew.TbsysExchangeScheme" >
    insert into TBSYS_EXCHANGESCHEME (EXCID, SOLUTIONID, ORGID, 
      NAME, PEXCID, DELFLAG, 
      REMARK, OPID, OPTIME, 
      TEXT1, TEXT2, TEXT3, 
      TEXT4, INT1, INT2, 
      INT3, INT4, ORDERBY
      )
    values (#{excid,jdbcType=DECIMAL}, #{solutionid,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{pexcid,jdbcType=DECIMAL}, #{delflag,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{opid,jdbcType=VARCHAR}, #{optime,jdbcType=DATE}, 
      #{text1,jdbcType=VARCHAR}, #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR}, 
      #{text4,jdbcType=VARCHAR}, #{int1,jdbcType=DECIMAL}, #{int2,jdbcType=DECIMAL}, 
      #{int3,jdbcType=DECIMAL}, #{int4,jdbcType=DECIMAL}, #{orderby,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.dbmsnew.TbsysExchangeScheme" >
    insert into TBSYS_EXCHANGESCHEME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="excid != null" >
        EXCID,
      </if>
      <if test="solutionid != null" >
        SOLUTIONID,
      </if>
      <if test="orgid != null" >
        ORGID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="pexcid != null" >
        PEXCID,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="opid != null" >
        OPID,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
      <if test="text1 != null" >
        TEXT1,
      </if>
      <if test="text2 != null" >
        TEXT2,
      </if>
      <if test="text3 != null" >
        TEXT3,
      </if>
      <if test="text4 != null" >
        TEXT4,
      </if>
      <if test="int1 != null" >
        INT1,
      </if>
      <if test="int2 != null" >
        INT2,
      </if>
      <if test="int3 != null" >
        INT3,
      </if>
      <if test="int4 != null" >
        INT4,
      </if>
      <if test="orderby != null" >
        ORDERBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="excid != null" >
        #{excid,jdbcType=DECIMAL},
      </if>
      <if test="solutionid != null" >
        #{solutionid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pexcid != null" >
        #{pexcid,jdbcType=DECIMAL},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=DATE},
      </if>
      <if test="text1 != null" >
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null" >
        #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null" >
        #{text4,jdbcType=VARCHAR},
      </if>
      <if test="int1 != null" >
        #{int1,jdbcType=DECIMAL},
      </if>
      <if test="int2 != null" >
        #{int2,jdbcType=DECIMAL},
      </if>
      <if test="int3 != null" >
        #{int3,jdbcType=DECIMAL},
      </if>
      <if test="int4 != null" >
        #{int4,jdbcType=DECIMAL},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinog2c.model.dbmsnew.TbsysExchangeScheme" >
    update TBSYS_EXCHANGESCHEME
    <set >
      <if test="solutionid != null" >
        SOLUTIONID = #{solutionid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        ORGID = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pexcid != null" >
        PEXCID = #{pexcid,jdbcType=DECIMAL},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        OPID = #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        OPTIME = #{optime,jdbcType=DATE},
      </if>
      <if test="text1 != null" >
        TEXT1 = #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        TEXT2 = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null" >
        TEXT3 = #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null" >
        TEXT4 = #{text4,jdbcType=VARCHAR},
      </if>
      <if test="int1 != null" >
        INT1 = #{int1,jdbcType=DECIMAL},
      </if>
      <if test="int2 != null" >
        INT2 = #{int2,jdbcType=DECIMAL},
      </if>
      <if test="int3 != null" >
        INT3 = #{int3,jdbcType=DECIMAL},
      </if>
      <if test="int4 != null" >
        INT4 = #{int4,jdbcType=DECIMAL},
      </if>
      <if test="orderby != null" >
        ORDERBY = #{orderby,jdbcType=DECIMAL},
      </if>
    </set>
    where EXCID = #{excid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinog2c.model.dbmsnew.TbsysExchangeScheme" >
    update TBSYS_EXCHANGESCHEME
    set SOLUTIONID = #{solutionid,jdbcType=VARCHAR},
      ORGID = #{orgid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PEXCID = #{pexcid,jdbcType=DECIMAL},
      DELFLAG = #{delflag,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      OPID = #{opid,jdbcType=VARCHAR},
      OPTIME = #{optime,jdbcType=DATE},
      TEXT1 = #{text1,jdbcType=VARCHAR},
      TEXT2 = #{text2,jdbcType=VARCHAR},
      TEXT3 = #{text3,jdbcType=VARCHAR},
      TEXT4 = #{text4,jdbcType=VARCHAR},
      INT1 = #{int1,jdbcType=DECIMAL},
      INT2 = #{int2,jdbcType=DECIMAL},
      INT3 = #{int3,jdbcType=DECIMAL},
      INT4 = #{int4,jdbcType=DECIMAL},
      ORDERBY = #{orderby,jdbcType=DECIMAL}
    where EXCID = #{excid,jdbcType=DECIMAL}
  </update>
  
  <select id="getListByPrimaryKey" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from TBSYS_EXCHANGESCHEME t
    where t.EXCID=#{excid} or t.PEXCID=#{excid} order by t.orderby
  </select>
</mapper>