<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.prisoner.TbprisonerCrimenameMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.prisoner.TbprisonerCrimename" >
    <id column="CRIMENAMEID" property="crimenameid" jdbcType="DECIMAL" />
    <result column="CRIMID" property="crimid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CLASSTYPE" property="classtype" jdbcType="VARCHAR" />
    <result column="SENTENCE" property="sentence" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="OPID" property="opid" jdbcType="VARCHAR" />
    <result column="OPTIME" property="optime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CRIMENAMEID, CRIMID, NAME, CLASSTYPE, SENTENCE, DELFLAG, OPID, OPTIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from TBPRISONER_CRIMENAME
    where CRIMENAMEID = #{crimenameid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from TBPRISONER_CRIMENAME
    where CRIMENAMEID = #{crimenameid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sinog2c.model.prisoner.TbprisonerCrimename" >
    insert into TBPRISONER_CRIMENAME (CRIMENAMEID, CRIMID, NAME, 
      CLASSTYPE, SENTENCE, DELFLAG, 
      OPID, OPTIME)
    values (#{crimenameid,jdbcType=DECIMAL}, #{crimid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{classtype,jdbcType=VARCHAR}, #{sentence,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, 
      #{opid,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.prisoner.TbprisonerCrimename" >
    insert into TBPRISONER_CRIMENAME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crimenameid != null" >
        CRIMENAMEID,
      </if>
      <if test="crimid != null" >
        CRIMID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="classtype != null" >
        CLASSTYPE,
      </if>
      <if test="sentence != null" >
        SENTENCE,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="opid != null" >
        OPID,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crimenameid != null" >
        #{crimenameid,jdbcType=DECIMAL},
      </if>
      <if test="crimid != null" >
        #{crimid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classtype != null" >
        #{classtype,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null" >
        #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinog2c.model.prisoner.TbprisonerCrimename" >
    update TBPRISONER_CRIMENAME
    <set >
      <if test="crimid != null" >
        CRIMID = #{crimid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classtype != null" >
        CLASSTYPE = #{classtype,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null" >
        SENTENCE = #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        OPID = #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        OPTIME = #{optime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CRIMENAMEID = #{crimenameid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinog2c.model.prisoner.TbprisonerCrimename" >
    update TBPRISONER_CRIMENAME
    set CRIMID = #{crimid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CLASSTYPE = #{classtype,jdbcType=VARCHAR},
      SENTENCE = #{sentence,jdbcType=VARCHAR},
      DELFLAG = #{delflag,jdbcType=VARCHAR},
      OPID = #{opid,jdbcType=VARCHAR},
      OPTIME = #{optime,jdbcType=TIMESTAMP}
    where CRIMENAMEID = #{crimenameid,jdbcType=DECIMAL}
  </update>
</mapper>