<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.khjc.KhjcCriminalJiangChengSdMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.khjc.KhjcCriminalJiangChengSd" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FENJIANQU" property="fenjianqu" jdbcType="VARCHAR" />
    <result column="JIANQU" property="jianqu" jdbcType="VARCHAR" />
    <result column="JIANYU" property="jianyu" jdbcType="VARCHAR" />
    <result column="JIANGCHENGLEIXING" property="jiangchengleixing" jdbcType="VARCHAR" />
    <result column="JIANGCHENGLEIBIE" property="jiangchengleibie" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="DATE" />
    <result column="ENDTIME" property="endtime" jdbcType="DATE" />
    <result column="CREATETIME" property="createtime" jdbcType="DATE" />
    <result column="CREATEMENDER" property="createmender" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="DATE" />
    <result column="UPDATEMENDER" property="updatemender" jdbcType="VARCHAR" />
    <result column="APPROVEID" property="approveid" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="JIZIFENZINIAN" property="jizifenzinian" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FENJIANQU, JIANQU, JIANYU, JIANGCHENGLEIXING, JIANGCHENGLEIBIE, STARTTIME, ENDTIME, 
    CREATETIME, CREATEMENDER, UPDATETIME, UPDATEMENDER, APPROVEID, DELFLAG, JIZIFENZINIAN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from KHJC_CRIMINAL_JIANGCHENG_SD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from KHJC_CRIMINAL_JIANGCHENG_SD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinog2c.model.khjc.KhjcCriminalJiangChengSd" >
    insert into KHJC_CRIMINAL_JIANGCHENG_SD (ID, FENJIANQU, JIANQU, 
      JIANYU, JIANGCHENGLEIXING, JIANGCHENGLEIBIE, 
      STARTTIME, ENDTIME, CREATETIME, 
      CREATEMENDER, UPDATETIME, UPDATEMENDER, 
      APPROVEID, DELFLAG, JIZIFENZINIAN
      )
    values (#{id,jdbcType=VARCHAR}, #{fenjianqu,jdbcType=VARCHAR}, #{jianqu,jdbcType=VARCHAR}, 
      #{jianyu,jdbcType=VARCHAR}, #{jiangchengleixing,jdbcType=VARCHAR}, #{jiangchengleibie,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, #{createtime,jdbcType=DATE}, 
      #{createmender,jdbcType=VARCHAR}, #{updatetime,jdbcType=DATE}, #{updatemender,jdbcType=VARCHAR}, 
      #{approveid,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, #{jizifenzinian,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.khjc.KhjcCriminalJiangChengSd" >
    insert into KHJC_CRIMINAL_JIANGCHENG_SD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fenjianqu != null" >
        FENJIANQU,
      </if>
      <if test="jianqu != null" >
        JIANQU,
      </if>
      <if test="jianyu != null" >
        JIANYU,
      </if>
      <if test="jiangchengleixing != null" >
        JIANGCHENGLEIXING,
      </if>
      <if test="jiangchengleibie != null" >
        JIANGCHENGLEIBIE,
      </if>
      <if test="starttime != null" >
        STARTTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="createmender != null" >
        CREATEMENDER,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="updatemender != null" >
        UPDATEMENDER,
      </if>
      <if test="approveid != null" >
        APPROVEID,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="jizifenzinian != null" >
        JIZIFENZINIAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fenjianqu != null" >
        #{fenjianqu,jdbcType=VARCHAR},
      </if>
      <if test="jianqu != null" >
        #{jianqu,jdbcType=VARCHAR},
      </if>
      <if test="jianyu != null" >
        #{jianyu,jdbcType=VARCHAR},
      </if>
      <if test="jiangchengleixing != null" >
        #{jiangchengleixing,jdbcType=VARCHAR},
      </if>
      <if test="jiangchengleibie != null" >
        #{jiangchengleibie,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="createmender != null" >
        #{createmender,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="updatemender != null" >
        #{updatemender,jdbcType=VARCHAR},
      </if>
      <if test="approveid != null" >
        #{approveid,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="jizifenzinian != null" >
        #{jizifenzinian,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinog2c.model.khjc.KhjcCriminalJiangChengSd" >
    update KHJC_CRIMINAL_JIANGCHENG_SD
    <set >
      <if test="fenjianqu != null" >
        FENJIANQU = #{fenjianqu,jdbcType=VARCHAR},
      </if>
      <if test="jianqu != null" >
        JIANQU = #{jianqu,jdbcType=VARCHAR},
      </if>
      <if test="jianyu != null" >
        JIANYU = #{jianyu,jdbcType=VARCHAR},
      </if>
      <if test="jiangchengleixing != null" >
        JIANGCHENGLEIXING = #{jiangchengleixing,jdbcType=VARCHAR},
      </if>
      <if test="jiangchengleibie != null" >
        JIANGCHENGLEIBIE = #{jiangchengleibie,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        STARTTIME = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=DATE},
      </if>
      <if test="createmender != null" >
        CREATEMENDER = #{createmender,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=DATE},
      </if>
      <if test="updatemender != null" >
        UPDATEMENDER = #{updatemender,jdbcType=VARCHAR},
      </if>
      <if test="approveid != null" >
        APPROVEID = #{approveid,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="jizifenzinian != null" >
        JIZIFENZINIAN = #{jizifenzinian,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinog2c.model.khjc.KhjcCriminalJiangChengSd" >
    update KHJC_CRIMINAL_JIANGCHENG_SD
    set FENJIANQU = #{fenjianqu,jdbcType=VARCHAR},
      JIANQU = #{jianqu,jdbcType=VARCHAR},
      JIANYU = #{jianyu,jdbcType=VARCHAR},
      JIANGCHENGLEIXING = #{jiangchengleixing,jdbcType=VARCHAR},
      JIANGCHENGLEIBIE = #{jiangchengleibie,jdbcType=VARCHAR},
      STARTTIME = #{starttime,jdbcType=DATE},
      ENDTIME = #{endtime,jdbcType=DATE},
      CREATETIME = #{createtime,jdbcType=DATE},
      CREATEMENDER = #{createmender,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=DATE},
      UPDATEMENDER = #{updatemender,jdbcType=VARCHAR},
      APPROVEID = #{approveid,jdbcType=VARCHAR},
      DELFLAG = #{delflag,jdbcType=VARCHAR},
      JIZIFENZINIAN = #{jizifenzinian,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>