<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.prisoner.TbprisonersocialRelationHisMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.prisoner.TbprisonersocialRelationHis" >
    <result column="SRID" property="srid" jdbcType="DECIMAL" />
    <result column="CRIMID" property="crimid" jdbcType="VARCHAR" />
    <result column="RELATIONSHIP" property="relationship" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="ORGADDRESS" property="orgaddress" jdbcType="VARCHAR" />
    <result column="ORGNAME" property="orgname" jdbcType="VARCHAR" />
    <result column="ORGPOSTALCODE" property="orgpostalcode" jdbcType="VARCHAR" />
    <result column="ORGTEL" property="orgtel" jdbcType="VARCHAR" />
    <result column="PAPERTYPE" property="papertype" jdbcType="VARCHAR" />
    <result column="PAPERID" property="paperid" jdbcType="VARCHAR" />
    <result column="RDUTY" property="rduty" jdbcType="VARCHAR" />
    <result column="VOCATION" property="vocation" jdbcType="VARCHAR" />
    <result column="POLITICAL" property="political" jdbcType="VARCHAR" />
    <result column="HOMEADDRESS" property="homeaddress" jdbcType="VARCHAR" />
    <result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ISCRIMHISTORY" property="iscrimhistory" jdbcType="VARCHAR" />
    <result column="ISPRIMARYCONTACT" property="isprimarycontact" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OPID" property="opid" jdbcType="VARCHAR" />
    <result column="OPTIME" property="optime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.sinog2c.model.prisoner.TbprisonersocialRelationHis" >
    insert into TBPRISONER_SOCIAL_RELATION_HIS (SRID, CRIMID, RELATIONSHIP, 
      NAME, BIRTHDAY, GENDER, 
      ORGADDRESS, ORGNAME, ORGPOSTALCODE, 
      ORGTEL, PAPERTYPE, PAPERID, 
      RDUTY, VOCATION, POLITICAL, 
      HOMEADDRESS, POSTALCODE, PHONE, 
      ISCRIMHISTORY, ISPRIMARYCONTACT, DELFLAG, 
      REMARK, OPID, OPTIME)
    values (#{srid,jdbcType=DECIMAL}, #{crimid,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{orgaddress,jdbcType=VARCHAR}, #{orgname,jdbcType=VARCHAR}, #{orgpostalcode,jdbcType=VARCHAR}, 
      #{orgtel,jdbcType=VARCHAR}, #{papertype,jdbcType=VARCHAR}, #{paperid,jdbcType=VARCHAR}, 
      #{rduty,jdbcType=VARCHAR}, #{vocation,jdbcType=VARCHAR}, #{political,jdbcType=VARCHAR}, 
      #{homeaddress,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{iscrimhistory,jdbcType=VARCHAR}, #{isprimarycontact,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{opid,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.prisoner.TbprisonersocialRelationHis" >
    insert into TBPRISONER_SOCIAL_RELATION_HIS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srid != null" >
        SRID,
      </if>
      <if test="crimid != null" >
        CRIMID,
      </if>
      <if test="relationship != null" >
        RELATIONSHIP,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="orgaddress != null" >
        ORGADDRESS,
      </if>
      <if test="orgname != null" >
        ORGNAME,
      </if>
      <if test="orgpostalcode != null" >
        ORGPOSTALCODE,
      </if>
      <if test="orgtel != null" >
        ORGTEL,
      </if>
      <if test="papertype != null" >
        PAPERTYPE,
      </if>
      <if test="paperid != null" >
        PAPERID,
      </if>
      <if test="rduty != null" >
        RDUTY,
      </if>
      <if test="vocation != null" >
        VOCATION,
      </if>
      <if test="political != null" >
        POLITICAL,
      </if>
      <if test="homeaddress != null" >
        HOMEADDRESS,
      </if>
      <if test="postalcode != null" >
        POSTALCODE,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="iscrimhistory != null" >
        ISCRIMHISTORY,
      </if>
      <if test="isprimarycontact != null" >
        ISPRIMARYCONTACT,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="opid != null" >
        OPID,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srid != null" >
        #{srid,jdbcType=DECIMAL},
      </if>
      <if test="crimid != null" >
        #{crimid,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null" >
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="orgaddress != null" >
        #{orgaddress,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="orgpostalcode != null" >
        #{orgpostalcode,jdbcType=VARCHAR},
      </if>
      <if test="orgtel != null" >
        #{orgtel,jdbcType=VARCHAR},
      </if>
      <if test="papertype != null" >
        #{papertype,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=VARCHAR},
      </if>
      <if test="rduty != null" >
        #{rduty,jdbcType=VARCHAR},
      </if>
      <if test="vocation != null" >
        #{vocation,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null" >
        #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="iscrimhistory != null" >
        #{iscrimhistory,jdbcType=VARCHAR},
      </if>
      <if test="isprimarycontact != null" >
        #{isprimarycontact,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="findBycrimid" resultType="com.sinog2c.model.prisoner.TbprisonersocialRelationHis">
  	select * from TBPRISONER_SOCIAL_RELATION_HIS  where crimid=${crimid}
  </select>
</mapper>