<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.penaltyPerform.TbyzPublicityMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.penaltyPerform.TbyzPublicity" >
    <result column="PUBID" property="pubid" jdbcType="DECIMAL" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="STARTTIME" property="starttime" jdbcType="DATE" />
    <result column="ENDTIME" property="endtime" jdbcType="DATE" />
    <result column="MEETINGTIME" property="meetingtime" jdbcType="DATE" />
    <result column="MEETINGADDRESS" property="meetingaddress" jdbcType="VARCHAR" />
    <result column="MEETINGNAME" property="meetingname" jdbcType="VARCHAR" />
    <result column="ISPUBLISH" property="ispublish" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OPID" property="opid" jdbcType="VARCHAR" />
    <result column="OPTIME" property="optime" jdbcType="DATE" />
  </resultMap>
  <insert id="insert" parameterType="com.sinog2c.model.penaltyPerform.TbyzPublicity" >
    insert into TBYZ_PUBLICITY (PUBID, CONTENT, TYPE, 
      STARTTIME, ENDTIME, MEETINGTIME, 
      MEETINGADDRESS, MEETINGNAME, ISPUBLISH, 
      REMARK, OPID, OPTIME)
    values (#{pubid,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, #{meetingtime,jdbcType=DATE}, 
      #{meetingaddress,jdbcType=VARCHAR}, #{meetingname,jdbcType=VARCHAR}, #{ispublish,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{opid,jdbcType=VARCHAR}, #{optime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.penaltyPerform.TbyzPublicity" >
    insert into TBYZ_PUBLICITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pubid != null" >
        PUBID,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="starttime != null" >
        STARTTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="meetingtime != null" >
        MEETINGTIME,
      </if>
      <if test="meetingaddress != null" >
        MEETINGADDRESS,
      </if>
      <if test="meetingname != null" >
        MEETINGNAME,
      </if>
      <if test="ispublish != null" >
        ISPUBLISH,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="opid != null" >
        OPID,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pubid != null" >
        #{pubid,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="meetingtime != null" >
        #{meetingtime,jdbcType=DATE},
      </if>
      <if test="meetingaddress != null" >
        #{meetingaddress,jdbcType=VARCHAR},
      </if>
      <if test="meetingname != null" >
        #{meetingname,jdbcType=VARCHAR},
      </if>
      <if test="ispublish != null" >
        #{ispublish,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="opid != null" >
        #{opid,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="ajaxGetPublicityList" resultMap="BaseResultMap" parameterType="com.sinog2c.model.penaltyPerform.TbyzPublicity" >
    select * from TBYZ_PUBLICITY where type = #{type,jdbcType=VARCHAR}
  </select>
  <select id="ajaxGetPublicityCount" resultMap="BaseResultMap" parameterType="com.sinog2c.model.penaltyPerform.TbyzPublicity" >
    select count(*) from TBYZ_PUBLICITY where type = #{type,jdbcType=VARCHAR}
  </select>
</mapper>