<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.attachment.Attachment_positionMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.attachment.Attachment_position" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="POS_NAME" property="posName" jdbcType="VARCHAR" />
    <result column="POS_PATH" property="posPath" jdbcType="VARCHAR" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, POS_NAME, POS_PATH, IS_ACTIVE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OA_ATTACHMENT_POSITION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OA_ATTACHMENT_POSITION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sinog2c.model.attachment.Attachment_position" >
    insert into OA_ATTACHMENT_POSITION (ID, POS_NAME, POS_PATH, 
      IS_ACTIVE)
    values (#{id,jdbcType=DECIMAL}, #{posName,jdbcType=VARCHAR}, #{posPath,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.attachment.Attachment_position" >
    insert into OA_ATTACHMENT_POSITION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="posName != null" >
        POS_NAME,
      </if>
      <if test="posPath != null" >
        POS_PATH,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="posName != null" >
        #{posName,jdbcType=VARCHAR},
      </if>
      <if test="posPath != null" >
        #{posPath,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinog2c.model.attachment.Attachment_position" >
    update OA_ATTACHMENT_POSITION
    <set >
      <if test="posName != null" >
        POS_NAME = #{posName,jdbcType=VARCHAR},
      </if>
      <if test="posPath != null" >
        POS_PATH = #{posPath,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinog2c.model.attachment.Attachment_position" >
    update OA_ATTACHMENT_POSITION
    set POS_NAME = #{posName,jdbcType=VARCHAR},
      POS_PATH = #{posPath,jdbcType=VARCHAR},
      IS_ACTIVE = #{isActive,jdbcType=CHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="getActivePosition" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OA_ATTACHMENT_POSITION
    where  IS_ACTIVE = #{isActive,jdbcType=CHAR}
  </select>
</mapper>