@charset "utf-8";
/* CSS Document */

.first_container {
	width: 834px;
	text-align: left;
	border:1px solid #adaeb0;
	margin-top:5px;
}
.first_sidebar1 {
	float: left;
	width: 2em;
	padding-top:80px;
	margin-left:23px;
}
.first_sidebar2 {
	float: right;
	width: 17px;
	padding-top: 80px;
	margin-right:20px;
}
.first_top_menu_div {
    margin: 0 55px 0 5em;
    overflow: hidden;
    padding-top: 0px;
    white-space: nowrap;
	height:182px;
}
.topMenu_ico,.topMenu_txt{
	text-align:center;
	width:114px;
	white-space: nowrap;
	overflow:hidden;
}
.topMenu_ico img{
	margin-bottom:1px;
	margin-top:1px;
	border:none;
}
.first_top_menu_div ul{
	margin:0px;
	padding:0px;
}
.first_top_menu_div ul li {
    display: inline-block;
    font-size: 9pt;
    margin: 15px 1px 1px;
    min-height: 150px;
    padding: 0;
    vertical-align: middle;
    width: 114px;
	zoom: 1;
	*display: inline;
	_height: 45px;
}