<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinog2c.dao.api.oa.OaSickLeaveMapper" >
  <resultMap id="BaseResultMap" type="com.sinog2c.model.oa.OaSickLeave" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="XJPROPOSERID" property="xjproposerid" jdbcType="VARCHAR" />
    <result column="QJDID" property="qjdid" jdbcType="VARCHAR" />
    <result column="QJDATE1" property="qjdate1" jdbcType="VARCHAR" />
    <result column="QJDATE2" property="qjdate2" jdbcType="VARCHAR" />
    <result column="QJTIME1" property="qjtime1" jdbcType="VARCHAR" />
    <result column="QJTIME2" property="qjtime2" jdbcType="VARCHAR" />
    <result column="QJDAYS" property="qjdays" jdbcType="VARCHAR" />
    <result column="QJHOURS" property="qjhours" jdbcType="VARCHAR" />
    <result column="XJDATE" property="xjdate" jdbcType="VARCHAR" />
    <result column="XJNOTE" property="xjnote" jdbcType="VARCHAR" />
    <result column="MANAGERID" property="managerid" jdbcType="VARCHAR" />
    <result column="TEXT1" property="text1" jdbcType="VARCHAR" />
    <result column="TEXT2" property="text2" jdbcType="VARCHAR" />
    <result column="TEXT3" property="text3" jdbcType="VARCHAR" />
    <result column="TEXT4" property="text4" jdbcType="VARCHAR" />
    <result column="TEXT5" property="text5" jdbcType="VARCHAR" />
    <result column="TEXT6" property="text6" jdbcType="VARCHAR" />
    <result column="INT1" property="int1" jdbcType="DECIMAL" />
    <result column="INT2" property="int2" jdbcType="DECIMAL" />
    <result column="OPTIME" property="optime" jdbcType="DATE" />
    <result column="OPID" property="opid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sinog2c.model.oa.OaSickLeave" >
    insert into OA_SICKLEAVE (UUID, XJPROPOSERID, QJDID, 
      QJDATE1, QJDATE2, QJTIME1, 
      QJTIME2, QJDAYS, QJHOURS, 
      XJDATE, XJNOTE, MANAGERID, 
      TEXT1, TEXT2, TEXT3, 
      TEXT4, TEXT5, TEXT6, 
      INT1, INT2, OPTIME, OPID
      )
    values (#{uuid,jdbcType=VARCHAR}, #{xjproposerid,jdbcType=VARCHAR}, #{qjdid,jdbcType=VARCHAR}, 
      #{qjdate1,jdbcType=VARCHAR}, #{qjdate2,jdbcType=VARCHAR}, #{qjtime1,jdbcType=VARCHAR}, 
      #{qjtime2,jdbcType=VARCHAR}, #{qjdays,jdbcType=VARCHAR}, #{qjhours,jdbcType=VARCHAR}, 
      #{xjdate,jdbcType=VARCHAR}, #{xjnote,jdbcType=VARCHAR}, #{managerid,jdbcType=VARCHAR}, 
      #{text1,jdbcType=VARCHAR}, #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR}, 
      #{text4,jdbcType=VARCHAR}, #{text5,jdbcType=VARCHAR}, #{text6,jdbcType=VARCHAR}, 
      #{int1,jdbcType=DECIMAL}, #{int2,jdbcType=DECIMAL}, #{optime,jdbcType=DATE}, #{opid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinog2c.model.oa.OaSickLeave" >
    insert into OA_SICKLEAVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="xjproposerid != null" >
        XJPROPOSERID,
      </if>
      <if test="qjdid != null" >
        QJDID,
      </if>
      <if test="qjdate1 != null" >
        QJDATE1,
      </if>
      <if test="qjdate2 != null" >
        QJDATE2,
      </if>
      <if test="qjtime1 != null" >
        QJTIME1,
      </if>
      <if test="qjtime2 != null" >
        QJTIME2,
      </if>
      <if test="qjdays != null" >
        QJDAYS,
      </if>
      <if test="qjhours != null" >
        QJHOURS,
      </if>
      <if test="xjdate != null" >
        XJDATE,
      </if>
      <if test="xjnote != null" >
        XJNOTE,
      </if>
      <if test="managerid != null" >
        MANAGERID,
      </if>
      <if test="text1 != null" >
        TEXT1,
      </if>
      <if test="text2 != null" >
        TEXT2,
      </if>
      <if test="text3 != null" >
        TEXT3,
      </if>
      <if test="text4 != null" >
        TEXT4,
      </if>
      <if test="text5 != null" >
        TEXT5,
      </if>
      <if test="text6 != null" >
        TEXT6,
      </if>
      <if test="int1 != null" >
        INT1,
      </if>
      <if test="int2 != null" >
        INT2,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
      <if test="opid != null" >
        OPID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="xjproposerid != null" >
        #{xjproposerid,jdbcType=VARCHAR},
      </if>
      <if test="qjdid != null" >
        #{qjdid,jdbcType=VARCHAR},
      </if>
      <if test="qjdate1 != null" >
        #{qjdate1,jdbcType=VARCHAR},
      </if>
      <if test="qjdate2 != null" >
        #{qjdate2,jdbcType=VARCHAR},
      </if>
      <if test="qjtime1 != null" >
        #{qjtime1,jdbcType=VARCHAR},
      </if>
      <if test="qjtime2 != null" >
        #{qjtime2,jdbcType=VARCHAR},
      </if>
      <if test="qjdays != null" >
        #{qjdays,jdbcType=VARCHAR},
      </if>
      <if test="qjhours != null" >
        #{qjhours,jdbcType=VARCHAR},
      </if>
      <if test="xjdate != null" >
        #{xjdate,jdbcType=VARCHAR},
      </if>
      <if test="xjnote != null" >
        #{xjnote,jdbcType=VARCHAR},
      </if>
      <if test="managerid != null" >
        #{managerid,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null" >
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null" >
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null" >
        #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null" >
        #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null" >
        #{text5,jdbcType=VARCHAR},
      </if>
      <if test="text6 != null" >
        #{text6,jdbcType=VARCHAR},
      </if>
      <if test="int1 != null" >
        #{int1,jdbcType=DECIMAL},
      </if>
      <if test="int2 != null" >
        #{int2,jdbcType=DECIMAL},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=DATE},
      </if>
      <if test="opid != null" >
        #{opid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>